:root {
  --primary: gray;
  --secondary: black;
  --bg: #eee;
  --main: var(--primary);
  --submit: steelblue;
  --highlight: var(--submit);
  --cancel: crimson;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: var(--primary);
}

header,
main {
  max-width: 1280px;
  margin: 1rem auto;
  padding: 0 .5rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: .5rem 1rem;
  padding: .5rem 2rem;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid var(--highlight);
  color: var(--highlight);
  transition: .5s;
  cursor: pointer;
}

button:hover,
button:focus {
  color: white;
  background: var(--highlight);
}

.logo {
  width: 40px;
  margin: 0 .5rem;
}

.upload__label,
.upload__icon {
  display: block;
  margin: 0 auto;
}

.upload__label {
  position: relative;
  cursor: pointer;
}

.upload__label:before {
  content: "Add image";
  position: absolute;
  bottom: 15%;
  left: 50%;
  font-weight: 700;
  font-size: 1.5rem;
  transform: translateX(-50%);
}

.upload__icon {
  padding: 1.5rem;
  width: 80vmin;
}

.preview__image__container {
  display: flex;
  flex-wrap: wrap;
  align-content: strech;
  margin: 0 auto;
}

.preview__image {
  display: block;
  max-width: 100%;
  margin: .5rem;
  cursor: pointer;
}

.preview__actions {
  display: flex;
  justify-content: center;
}

.editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
  padding: .5rem 1rem;
}

.editor__container {
  max-height: 85vh;
}

.editor__image {
  max-width: 100%;
  display: block;
}

.editor__close {
  --highlight: var(--cancel);
}


.hide {
  display: none;
}

@media screen and (min-width: 400px) {
  .preview__image {
    width: calc(50% - 1rem);
  }
}

@media screen and (min-width: 600px) {
  .preview__image {
    width: calc(100% / 3 - 1rem);
  }
}

@media screen and (min-width: 800px) {
  .preview__image {
    width: calc(25%  - 1rem);
  }
}

@media screen and (min-width: 1000px) {
  .preview__image {
    width: calc(20% - 1rem);
  }
}

@media screen and (min-width: 1200px) {
  .preview__image {
    width: calc(100% / 6 - 1rem);
  }
}
